<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
       <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

     <div class="logo-in"></div>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<!-- <div class="header">
		<img src="assets/img/ebike/1.png">
	</div>
	<div class="content">
		<img src="assets/img/1.jpg">
	</div>
	<div class="header">
		<img src="assets/img/ebike/2.png">
	</div>
	<div class="content">
		<img src="assets/img/2.jpg">
	</div>
	<div class="header">
		<img src="assets/img/ebike/3.png">
	</div>
	<div class="content">
		<img src="assets/img/4.jpg">
	</div>
	<div class="header">
		<img src="assets/img/ebike/4.png">
	</div>
	<div class="content">
		<img src="assets/img/3.jpg">
	</div> -->

	<div class="section">
		<img src="assets/img/ebike/11.jpg"/>
		<br>
		<br>
		<img src="assets/img/ebike/12.jpg"/>
		<br>
		<br>
		<img src="assets/img/ebike/13.jpg"/>
		<br>
		<br>
		<img src="assets/img/ebike/14.jpg"/>
		<br>
		<br>
	</div>
</ion-content>
