<ion-header>
  <ion-toolbar color="darkblue">
    <div class="header-logo-div">
      <img src="assets/img/newlogov7.png" class="header-logo"/>
    </div>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="light" (click)="logout()" class="fw700">
        <ion-icon name="log-out"></ion-icon>
      LOGOUT
      </ion-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content class="ion-padding" overflow-scroll="true">
<div *ngIf="ticket">
	<div *ngFor="let t of ticket">
		<ion-button class="ion-margin" expand="full" color="dark" (click)="viewTicket()">{{t.number}} - {{t.status}}</ion-button>
	</div>
</div>

</ion-content>
