<ion-header>
  <ion-toolbar color="darkblue">
    <ion-buttons slot="start">
       <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

	<div>
		<img src="assets/img/newlogov7.png" class="header-logo"/>
	  </div>

  </ion-toolbar>
</ion-header>

<ion-content>
<div class="background">
	<h1>Best pest control service</h1>
</div>
<div>
	<ion-card>
		<ion-card-header>
		<h4>How it Works</h4>
		</ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-icon name="ios-home" color="dark"></ion-icon>
				<ion-label><h5>Select the size of your home</h5></ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="ios-construct" color="dark"></ion-icon>
				<ion-label><h5>Browse through various packages and services</h5></ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="ios-stopwatch" color="dark"></ion-icon>
				<ion-label><h5>Pick time as per your convenience</h5></ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="md-thumbs-up" color="dark"></ion-icon>
				<ion-label><h5>Hassle-free service</h5></ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
</div>


	<h4 class="text-center">Select the size of your home </h4>
	<div class="box">
		<ion-list>
		<ion-item (click)="pestControl()">
			<ion-label>1 BHK</ion-label>
		</ion-item>
		<ion-item (click)="pestControl()">
			<ion-label>2 BHK</ion-label>
		</ion-item>
		<ion-item (click)="pestControl()">
			<ion-label>3 BHK</ion-label>
		</ion-item>
		<ion-item (click)="pestControl()">
			<ion-label>Villa</ion-label>
		</ion-item>
	</ion-list>
	</div>
	<div>
		<ion-card-header>
		<h4>All About Pest Control</h4>
		</ion-card-header>
		<ion-card-content>
			<h3>Fighting against house infiltrators - Pest control services</h3>
			<h5>Have you recently discovered that termites are eating into your furniture? Is the sight of cockroaches crawling all around disturbing you? Are rodents a matter of scare for kids at home, threatening their health? Can’t let bed bugs disturb your sleep and well-being? Pest infestation, of any kind, is a serious threat to your and family’s health and peace of mind.
			If you are dealing with any of the above problems, it’s high time that you do something about the situation. It is an essential precautionary measure to get pest control done in your house.</h5><br>
			<h3>Services provided</h3>
			<h5><ul><li><ion-text color="gold"><i>General Pest Control</i></ion-text>- In this service, gel baiting is done to control infestation for longer periods. A residual spray is used to reduce infestation immediately. The treatment is carried out by government-permitted chemicals and remains effective for lizards, mosquitoes, houseflies, silverfish, cockroaches, ants and spiders. It lasts up to 3-4 months.</li><br>

			<li><ion-text color="gold"><i>Rodent Control</i></ion-text> - The treatment may include baiting and glue boards to eliminate rodents based on the rodent species, extent and spread of infestation. It lasts up to 3-4 months. This treatment is effective for mice, rats and bandicoots.</li><br>

			<li><ion-text color="gold"><i>Bed Bugs Control</i></ion-text> - Inspection of mattresses and furniture is carried out. Three types of spray treatment and machine treatment are done to eliminate all the bugs. It is essential to vacate the area for 5-6 hours. This treatment lasts up to 2-3 months.</li><br>

			<li><ion-text color="gold"><i>Termite Control</i></ion-text> - In this treatment, all the wooden items are inspected and injected with chemicals. After the treated holes are saturated, they are closed with wax or white cement. The chemicals have wood preservatives so you need not worry about your items getting damaged. The treatment lasts for 5 years, however, get the furniture rechecked after 3 weeks since recurrence could be a possibility.</li><br>
			</ul>
			Capable of destroying structures, termites are one of the biggest pest problems in Chennai. Being the second highest city in terms of humidity, it provides optimum conditions for termites to thrive and breed. This is the reason that pest services for termites remain to be the most demanded in the city.</h5>
		</ion-card-content>
	</div>
</ion-content>
