.header-logo{
    width:120px;
    vertical-align: middle;
}

.size{
	display: inline-block;
	width:29%;
	background-color: #f7fffa;
	text-align: center;
	margin: 2%;
	height:120px;
}


  .service-img{
    width:40px;
    // height:150px;
    height:40px;
    border-radius: 5px;
    // margin-left: auto;
    // margin-right: auto;
    margin: 10px auto;
    }

 .flex{
 	display: flex;
 	flex-direction:column;
 }

 h5{
 	text-transform: uppercase;
 	margin:10px;
 	font-size: 12px;
 }

 h4{
 	text-transform: uppercase;
 	text-align: center;
 	color:#0e0e27;
 	font-weight: 600;
 	margin:10px;
 }