<ion-content class="animated fadeIn login auth-page ion-padding" color="darkblue">
  <!-- <div class="theme-bg"></div> -->
  <div class="auth-content">
    <!-- Logo -->
    <div class="animated fadeInDown ion-text-center ">
      <div>
        <img src="assets/img/newlogov6.png"/>
      </div>
    </div>
    <br>
</div>
<br>
<ion-button (click)="appCons()" class="ion-margin" shape="round" expand="full" color="gold">APP CONSULTANT</ion-button>
<ion-button (click)="prodCons()" class="ion-margin" shape="round" expand="full" color="gold">PRODUCT CONSULTANT</ion-button>

 <ion-buttons>
      <ion-button size="small" shape="round" color="light" (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
        BACK
      </ion-button>
    </ion-buttons>
</ion-content>
