<ion-header>
<ion-toolbar color="darkblue">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
	<div>
		<img src="assets/img/newlogov7.png" class="header-logo"/>
	  </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<h2 class="header">ASSET MANAGEMENT</h2>
	<p class="header-sub">You can add your household assets here!</p>
	   <form [formGroup]="onAddAssetForm">
		<ion-list lines="none">
		<ion-item>
			<ion-label position="floating" class="fw600">Product Category</ion-label>
		    <ion-select formControlName="productCategory" interface="popover" lines="none">
		            <ion-select-option >Entertainment</ion-select-option>
		    </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="floating" class="fw600">Product Name</ion-label>
		    <ion-select formControlName="productName" interface="popover">
		            <ion-select-option >Samsung J7</ion-select-option>
		    </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="floating" class="fw600">Brand</ion-label>
		    <ion-select formControlName="productBrand" interface="popover">
		            <ion-select-option >Samsung</ion-select-option>
		    </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="floating" class="fw600">Date of Purchase</ion-label>
		    <ion-datetime placeholder="Select Date" formControlName="dateOfPurchase"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label  position="floating" class="fw600">Number of Months Warranty</ion-label>
		    <ion-input type="numeric" formControlName="monthsWarranty"></ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="floating" class="fw600" color="darkblue">Product Price</ion-label>
		    <ion-input type="numeric" placeholder="&#8377;" formControlName="productPrice"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked" class="fw600">Product Image</ion-label>
			<div>
				<ion-button fill="outline" color="darkblue" class="buttonone" size="small">Camera</ion-button>
				<ion-button fill="outline" color="darkblue" class="buttontwo" size="small">Gallery</ion-button>
			</div>
		</ion-item>
		<ion-item>
			<ion-label position="stacked" class="fw600">Invoice Image</ion-label>
			<div>
				<ion-button fill="outline" color="darkblue" class="buttonone" size="small">Camera</ion-button>
				<ion-button fill="outline" color="darkblue" class="buttontwo" size="small">Gallery</ion-button>
			</div>
		</ion-item>
		<ion-item>
			<ion-label position="stacked" class="fw600">Warranty Image</ion-label>
			<div>
				<ion-button fill="outline" color="darkblue" class="buttonone" size="small">Camera</ion-button>
				<ion-button fill="outline" color="darkblue" class="buttontwo" size="small">Gallery</ion-button>
			</div>
		</ion-item>
	</ion-list>
	</form>
	<div class="text-center">
		<ion-button (click)="addAsset()" color="gold">SUBMIT FORM</ion-button>
	</div>
</ion-content>
