<ion-header>
  <ion-toolbar color="darkblue">
    <ion-buttons slot="start">
       <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

	<div>
		<img src="assets/img/newlogov7.png" class="header-logo"/>
	  </div>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
	<h3>pest control</h3>
	<h1>1 BHK</h1>
	<ion-card>
		<ion-card-header>
			<h4>Cockroach & Ant Control</h4>
		</ion-card-header>
		<ion-card-content>
			<h5><ul><li>Control cockroaches, ants & crawling insects</li>
				<li>Not useful for lizards, mice, rats, snakes</li>
				</ul>
			</h5>
			<ion-row>
				<ion-col class="price">
					<h2>Rs.999</h2>
				</ion-col>
				<ion-col class="cart">
					<ion-button size="small" fill="outline" color="gold">Add To Cart</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<h4>mosquito control</h4>
		</ion-card-header>
		<ion-card-content>
			<h5><ul><li>Controls mosquitoes against dengue, zika</li>
				<li>Kills mosquitoes on contact via spraying</li>
				</ul>
			</h5>
			<ion-row>
				<ion-col class="price">
					<h2>Rs.999</h2>
				</ion-col>
				<ion-col class="cart">
					<ion-button size="small" fill="outline" color="gold">Add To Cart</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<h4>Termite Control</h4>
		</ion-card-header>
		<ion-card-content>
			<h5><ul><li>Infected walls / furniture to be treated</li>
				<li>Drilling of holes to be done basis inspection</li>
				</ul>
			</h5>
			<ion-row>
				<ion-col class="price">
					<h2>Rs.2,699</h2>
				</ion-col>
				<ion-col class="cart">
					<ion-button size="small" fill="outline" color="gold">Add To Cart</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<h4>bed bugs control</h4>
		</ion-card-header>
		<ion-card-content>
			<h5><ul><li>Infected mattresses / furniture to be treated</li>
				<!-- <li>Drilling of holes to be done basis inspection</li> -->
				</ul>
			</h5>
			<ion-row>
				<ion-col class="price">
					<h2>Rs.1,499</h2>
				</ion-col>
				<ion-col class="cart">
					<ion-button size="small" fill="outline" color="gold">Add To Cart</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>
