.header-logo{
    width:120px;
    vertical-align: middle;
}

.content-wishes{
	color:#0e0e27;
	font-size:16px;
	font-weight:600;
}

  .size{
	display: inline-block;
	width:48%;  //default - 46%
	// background-color: #e4f7ff;
	text-align: center;
	margin: 1%;
	border-radius: 15%;
    // height:120px;
}

  .img-size{
    width:50px;
    height:50px;
    margin: 10px auto;
    }

 .flex{
 	display: flex;
 	flex-direction:column;
 }

 h5{
	text-transform: uppercase;
	margin:10px;
	font-size: 14px;
}

// img{
// 	width:100%;
// 	height:auto;
// }

// .font1{
// 	text-transform: uppercase;
// 	font-weight: 600;
// 	color:#e23059;
// }

// .bg{
// 	// background:#ffeef1;
// 	margin:3%;
// 	border-radius: 3%;



	
// }

// .cl{
// 	background:#ffeef1;
// 	margin:3%;
// 	border-radius: 3%;
// }

// .cw{
// 	background:#fbfbfb;
// 	margin:3%;
// 	border-radius: 3%;
// }