h1{
	color:gold;
	font-size: 100px;
}

ion-card{
	text-align: center;
	font-size: 13px;
	color:green;
	text-transform: uppercase;
}

.header-logo{
    width:120px;
    vertical-align: middle;
}

.header-logo-div{
    padding-left:10px;
}