 img {
        height: 128px;
        width: 128px;
        border-radius: 50%;
        border: solid 4px #000;
        display: inline;
        box-shadow: 0 0 28px rgba(255,255,255, .65);
  
      }

h4{
	color:red;
}