<ion-header>
  <ion-toolbar color="darkblue">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <div>
        <img src="assets/img/newlogov7.png" class="header-logo"/>
      </div>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="back()">
        <ion-icon name="arrow-round-back" class="text15"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- image -->

<h4>What do you want help with?</h4>
  <div *ngFor="let service of plumbing"  class="size">
    <div class="flex">
      <img src="{{service.img}}" onError="this.src='http://apiv1.iglobesystems.com/assets/img/no_img.png'" class="service-img"/>
      <h5>{{service.name}}</h5>
    </div>
  </div>

<div class="CB">
  <h2>CB verified</h2>
  <div class="CB-verify">
    <ion-icon name="contact" color="gold"></ion-icon><ion-label>Skilled & verified technicians</ion-label>
  </div>
  <div class="CB-verify">
      <ion-icon name="calendar" color="gold"></ion-icon><ion-label>30-Day service guarantee</ion-label>
  </div>
  <div class="CB-verify">
      <ion-icon name="wallet" color="gold"></ion-icon><ion-label>Rs.10,000 damage cover on every booking</ion-label>
  </div>
</div>

<div>
  <h3>Note</h3>
  <ul>
    <li>Spare parts are charged as per market price</li>
    <li>Spare parts are charged as per market price</li>
    <li>Spare parts are charged as per market price</li>
  </ul>
</div>
</ion-content>
