<ion-list class="ion-no-padding ion-no-margin" mode="md">
    <ion-list-header color="darkblue">
      <ion-label class="fw700">WELCOME TO SUPPORT</ion-label>
    </ion-list-header>

    <form [formGroup]="onSupportForm">
      <!-- <ion-item no-padding class="margin">
          <ion-label position="floating">How can we support you ?</ion-label>
          <ion-select formControlName="issue">
            <ion-select-option value="{{p.services}}" *ngFor="let p of support">{{p.services}}</ion-select-option>
          </ion-select>
      </ion-item> -->
      <ion-label class="label">&nbsp;&nbsp;&nbsp;Specify the time to call</ion-label>
      <ion-item *ngIf="!onSupportForm.get('callMeTodayAt').value && !onSupportForm.get('callMeOn').value && !onSupportForm.get('callMeAt').value ">
          <ion-label>Call me now</ion-label>
          <ion-checkbox formControlName="callMeNow" value="call now" ></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="!onSupportForm.get('callMeNow').value && !onSupportForm.get('callMeOn').value && !onSupportForm.get('callMeAt').value ">
          <ion-label>Call me today at</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" formControlName="callMeTodayAt" placeholder="Select Time"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="!onSupportForm.get('callMeNow').value && !onSupportForm.get('callMeTodayAt').value">
          <ion-label>Call me on</ion-label>
          <ion-datetime placeholder="Select Date" formControlName="callMeOn"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="!onSupportForm.get('callMeNow').value && !onSupportForm.get('callMeTodayAt').value">
          <ion-label>Call me at</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" formControlName="callMeAt" placeholder="Select Time"></ion-datetime>
      </ion-item>
    </form>  
    <div class="text-center">
    <ion-button shape="round" color="gold" (click)="sendSupport()" class="ion-margin">Submit</ion-button>
    </div>

  </ion-list>