<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
        <div class="logo-in"></div>
     <ion-buttons slot="end" >
      <ion-button shape="round" (click)="back()">
        <ion-icon name="arrow-round-back" class="text15"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
<!-- 	<ion-card color="dark" padding> -->
    <h4>What are you looking for ?</h4>
  <!-- </ion-card> -->
  <div *ngFor = "let subCat of subCategory" class="size">
  <!-- <div *ngIf = "subCategory" class="size"> -->

<!-- <ion-fab horizontal="end" vertical="top" slot="fixed">
  <ion-fab-button size="small" color="light" (click)="searchFilter(subCat)"><ion-icon name="options"></ion-icon></ion-fab-button>
</ion-fab> -->

      <h5>{{subCat.subcategory}}</h5>
        <img src="{{subCat.image}}" (click)="productList(subCat)" onError="this.src='https://static.thenounproject.com/png/212328-200.png'">
        <!-- <img src="http://kmvn.in/uploads/imagenot.png" *ngIf="!p.image" (click)="productList(p)"> -->
        <h3><span>FROM</span> &#8377; {{subCat.minPrice}} <br> <span>TO</span> &#8377; {{subCat.maxPrice}}</h3>
          <!-- <ion-segment color="danger" scrollable >
            <ion-segment-button  (click)="openSupport(subCat)"  checked><ion-label color="danger">Support</ion-label></ion-segment-button>
            <ion-segment-button  (click)="productList(subCat)" checked><ion-label color="warning">Supply</ion-label></ion-segment-button>
          </ion-segment>    -->
  </div>
  <!-- <ion-card color="dark" padding> -->
    <h4>Top Brands!</h4>
  <!-- </ion-card> -->
  <div *ngFor = "let brand of brand" class="size1" (click)="prodlist(brand)">
    <h5>{{brand}}</h5>
  </div>
  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="danger" size="small" (click)="opencart()"><ion-icon name="cart"></ion-icon></ion-fab-button>
</ion-fab> -->

</ion-content>