<ion-header>
  <ion-toolbar color="darkblue">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <div>
      <img src="assets/img/newlogov7.png" class="header-logo"/>
    </div>
     <ion-buttons slot="end" >
      <ion-button shape="round" (click)="back()">
        <ion-icon name="arrow-round-back" class="text15"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 class="product-title">What are you looking for ?</h5>
  <div>
    <div *ngFor = "let subCat of subCategory" class="sc-item">
      <div class="sc-flex">
          <img src="{{subCat.img_m}}" (click)="productList(subCat)" 
          onError="this.src='http://apiv1.iglobesystems.com/assets/img/no_img.png'" class="sc-img">
          <h5 class="sc-name">{{subCat.name}}</h5>
      </div>
    </div>
  </div>

  <div>
    <h5 class="product-title">General Results</h5>
    <div *ngFor = "let list of subCategory">
      <div *ngFor="let sclist of list.item_list">
          <ion-list>
              <ion-item>
                <div class="item-style">
                  <div class="ion-text-center item-img-style" (click)="getProductDesc(sclist)">
                      <img src="{{sclist.icon}}" onError="this.src='http://apiv1.iglobesystems.com/assets/img/no_img.png'" class="cat-img"/>
                  </div>
                   <div class="item-content-style">
                      <h5 class="cat-name fw600" (click)="getProductDesc(sclist)">{{sclist.name}}</h5>
                      <h5 class="cat-quantity" (click)="getProductDesc(sclist)">{{sclist.quantity}}</h5>
                      <!-- <h5 class="cat-brand" (click)="grocerydesc(cat.id)">{{sclist.brand_name}}</h5> -->
                      <ion-row class="cat-item-footer">
                        <ion-col class="ion-no-padding" size="9" (click)="getProductDesc(sclist)">
                          <h1 class="cat-mrp fw600">&#8377; {{sclist.mrp}}</h1>
                        </ion-col>
                        <ion-col class="ion-no-padding">
                          <ion-buttons class="ion-text-center">
                            <ion-button size="small" color="darkblue" (click)="addToCart(sclist)" tappable><ion-icon name="add-circle"></ion-icon></ion-button>
                          </ion-buttons>
                        </ion-col>
                      </ion-row>
                   </div>
                  </div>
              </ion-item>
            </ion-list> 
      </div> 
    </div>
  </div>

  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="darkblue" size="small" (click)="opencart()" #cart>
        <!-- <div class="cart-length">{{ cardItemCount | async }}</div> -->
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <!-- <h4>Top Brands!</h4>
  <div *ngFor = "let brand of brand" class="size1" (click)="prodlist(brand)">
    <h5>{{brand.name}}</h5>
  </div> -->
</ion-content>