<ion-content padding class="login auth-page">

  <div class="auth-content">
    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="danger" class="fw700">
          <ion-text color="danger">RESET PASSWORD</ion-text>
        </ion-text>
      </h4>
    </div>

    <!-- Register form -->
    <form [formGroup]="onResetForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="call" item-start></ion-icon>
          Mobile Number
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="phone" maxlength="10"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onResetForm.get('phone').touched && onResetForm.get('phone').hasError('required')">
        <ion-text color="warning">
          This field is required
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          New Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password" maxlength="20"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onResetForm.get('password').touched && onResetForm.get('password').hasError('required')">
        <ion-text color="warning">
          This field is required
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Confirm New Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="confirmpassword" maxlength="20"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onResetForm.get('confirmpassword').touched && onResetForm.get('confirmpassword').hasError('required')">
        <ion-text color="warning">
          This field is required
        </ion-text>
      </p>
      <p ion-text class="text08"
        *ngIf="onResetForm.get('password').value !== onResetForm.get('confirmpassword').value">
        <ion-text color="warning">
          Both passwords mismatch
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="unlock" item-start></ion-icon>
          OTP
        </ion-label>
        <ion-input color="secondary" type="code" formControlName="code" maxlength="6"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08"
        *ngIf="onResetForm.get('code').touched && onResetForm.get('code').hasError('required')">
        <ion-text color="warning">
          This field is required
        </ion-text>
      </p>

    </form>

    <div margin-top>
      <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="resetPassword()"
        [disabled]="!onResetForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Reset Password
      </ion-button>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToLogin()" tappable>
        <ion-text color="danger">
          <strong>Back</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>