<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
       <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

     <div class="logo-in"></div>

  </ion-toolbar>
</ion-header>

<ion-content>

<!--   <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="danger"><strong>Calling Bell</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        We are committed to provide world class products and services at affordable price. Your household appliance
        problems are just an app. Contact us and we will help in resolving it.
      </p>

    </ion-card-content>
  </ion-card> -->
<div>
   <div>
      <img src="assets/img/Splash/BELL_B.png" class="bell bell_BF">
      <img src="assets/img/Splash/BELL_T.png" class="bell bell_T">
      <img src="assets/img/Splash/BELL_F.png" class="bell bell_BF">
    </div>
  </div>
</ion-content>
