.ion-list {
    &.list-ios {
        margin-bottom: 0;
    }
}

// ion-backdrop.sc-ion-popover-md.md.hydrated {
// 	--width:65%;
// }

.label{
	color:red;
	margin-left:2%;
}

// .sc-ion-popover-md-h {
// 	--width:65%;
// }

// ion-popover#ion-overlay-2.sc-ion-popover-md-h.sc-ion-popover-md-s.md.hydrated{
// 	--width:65%;
// }

.margin{
	margin:0px 2% 0px 2%;
}