<ion-header>
  <ion-toolbar color="darkblue">
    <ion-buttons slot="start">
       <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

    <div>
      <img src="assets/img/newlogov7.png" class="header-logo"/>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="text-center">
		<img src="assets/img/celeb/bdaywish.png" class="headerimg"/>
	</div>
	<h5 class="header fw600">Sender information</h5>
	<ion-card>
	<ion-item  class="animated fadeInUp">
        <ion-label position="floating">
          FULL NAME
        </ion-label>
        <ion-input color="secondary" class="fw800" type="text"></ion-input>
     </ion-item>
     <ion-item  class="animated fadeInUp">
        <ion-label position="floating">
          MOBILE NUMBER
        </ion-label>
        <ion-input color="secondary" class="fw800" type="text"></ion-input>
     </ion-item>
     <ion-item  class="animated fadeInUp">
        <ion-label position="floating">
          COMPLETE ADDRESS
        </ion-label>
        <ion-input color="secondary" class="fw800" type="text"></ion-input>
     </ion-item>
     <ion-item  class="animated fadeInUp">
        <ion-label >
          IMAGE
        </ion-label>
        <ion-button size="small" class="color">GALLERY</ion-button>
     </ion-item>
 	</ion-card>
 	<h5 class="header fw600">receiver information</h5>
 	<ion-card>
	<ion-item  class="animated fadeInUp">
        <ion-label position="floating">
          FULL NAME
        </ion-label>
        <ion-input color="secondary" class="fw800" type="text"></ion-input>
     </ion-item>
     <ion-item  class="animated fadeInUp">
        <ion-label position="floating">
          MOBILE NUMBER
        </ion-label>
        <ion-input color="secondary" class="fw800" type="text"></ion-input>
     </ion-item>
     <ion-item  class="animated fadeInUp">
        <ion-label position="floating">
          COMPLETE ADDRESS
        </ion-label>
        <ion-input color="secondary" class="fw800" type="text"></ion-input>
     </ion-item>
      <ion-item  class="animated fadeInUp">
        <ion-label >
          IMAGE
        </ion-label>
        <ion-button size="small" class="color">GALLERY</ion-button>
     </ion-item>
 	</ion-card>
 	<h5 class="header fw600">message</h5>
 	<ion-card>
 	  <ion-item  class="animated fadeInUp">
        <ion-label position="floating">
          WISHES
        </ion-label>
        <ion-input color="secondary" class="fw800" type="text"></ion-input>
      </ion-item>
 	</ion-card>
 	<h5 class="header fw600">choose a package</h5>
 	 <!-- <ion-list>
 	  <ion-item>
 		<ion-checkbox slot="start" color="danger"></ion-checkbox>
 		<ion-label>E Wishes</ion-label>
 	  </ion-item>
 	 </ion-list> -->
 	 <div *ngFor="let c of celeb" class="imgsize">
 				<ion-button id="{{c.id}}" #first class="package" color="light" (click)="btnActivate(first)"><img src="{{c.img}}"/></ion-button>
        <ion-text> &#8377; {{c.rate}}</ion-text>
 	 </div>
</ion-content>
